$user-info-background: linear-gradient(to top, #ffffff, #0d6efd);
$user-info-text-color: #ffffff;
$user-info-height: 20vh;

.user-info {
  min-height: $user-info-height;
  background: $user-info-background;
  color: $user-info-text-color;
  display: flex;
  align-items: top;
  justify-content: center;
  text-align: center;
}
