$user-calendar-card-margin-vertical: 10px;
$button-copy-margin-right: 20px;
$button-copy-size: 20px;
$button-copy-color: rgb(93, 154, 247);
$button-delete-size: 20px;
$button-delete-color: rgb(255, 0, 0);

.user-calendar-card {
  display: flex;
  flex-direction: row;
  margin-top: $user-calendar-card-margin-vertical;
  margin-bottom: $user-calendar-card-margin-vertical;
}
.button-bar {
  margin-left: auto;
}
.button-copy {
  margin-right: $button-copy-margin-right;
  width: $button-copy-size;
  height: $button-copy-size;
  fill: $button-copy-color;
}
.button-delete {
  width: $button-delete-size;
  height: $button-delete-size;
  fill: $button-delete-color;
}
