$user-info-background: linear-gradient(to top, #ffffff, #0d6efd);
$user-info-text-color: #ffffff;
$user-name-font-weight: 600;
$user-name-font-size: 1.3;
$user-name-margin: 1rem 0;
$user-email-font-weight: 600;

.user-info {
  min-height: 20vh;
  background: $user-info-background;
  color: $user-info-text-color;
  display: flex;
  align-items: top;
  justify-content: center;
  text-align: center;
}
.user-name {
  font-weight: $user-name-font-weight;
  font-size: $user-name-font-size;
  margin: $user-name-margin;
}
.user-email {
  font-weight: $user-email-font-weight;
  display: inline-block;
}
.user-calendars {
  justify-content: center;
  text-align: center;
}
