$user-calendar-content-width: 30%;

.user-calendars-content {
  margin-left: 35%;
  width: $user-calendar-content-width;
}

.user-no-calendars-content {
  display: flex;
  justify-content: center;
  text-align: center;
}
